* {
    margin: 0;
    padding: 0;
}
.fa-address-book {
    position: absolute;
    top: 4%;
    left: 0.7%;
    cursor: pointer;
}
h1 {
    text-align: center;
    color: rgb(202, 142, 68);
    margin-top: 1%;
}
#stats {
    position: absolute;
    right: 7.5%;
    top: 10%;
    height: fit-content;
    width: fit-content;
}
#stat-values {
    position: absolute;
    right: 2.5%;
    top: 10%;
    height: fit-content;
    width: fit-content;
}
#works {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    left: 6%;
    top: 14%;
    height: 59%;
    width: 67%;
}
.one-work {
    height: 30%;
    width: 30%;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    margin: 8px;
    font-size: xx-large;
    font-weight: bolder;
    background: linear-gradient(
        to right,
        green 0%,
        blueviolet 0%
    );
}
#controls-panel {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: rgb(230, 193, 148);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.control {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 10%;
    font-size: large;
    font-weight: bold;
}
.control-icon {
    margin-right: 8px;
}
.control-button {
    width: 70%;
    height: 40%;
    background-color: blueviolet;
    color: aliceblue;
    font-size: x-large;
}
#clearout {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1%;
    top: 53%;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgb(7, 94, 94);
    font-size: xx-large;
    font-weight: bolder;
    color: aliceblue;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
#clearout:hover {
    background: rgb(2, 73, 73);
}
.instructions {
    position: fixed;
    top: 10vh;
    left: 15vw;
    height: 80vh;
    width: 70vw;
    z-index: 2;
    border-radius: 5%;
    background: #1e293b;
    color: #f8fafc;
}
#to-blur {
    position: fixed;
    inset: 0;
    background: rgba(15, 23, 42, 0.65);
    z-index: 1;
    backdrop-filter: blur(3px);
}
#start {
    position: absolute;
    top: 85%;
    left: 42.5%;
    height: 10%;
    width: 15%;
    border-radius: 10%;
    background: #3b82f6;  
    color: white;
    border: none;
    font-size: x-large;
    font-weight: bolder;
}
#start:hover , #game-over-ok:hover {
    background: #2563eb;
}
.hidden {
    display: none;
}
.game-over {
    position: fixed;
    top: 20vh;
    left: 27.5vw;
    height: 60vh;
    width: 45vw;
    z-index: 2;
    border-radius: 5%;
    background: #1e293b;
    color: #f8fafc;
}
#game-over-ok {
    position: absolute;
    top: 80%;
    left: 37.5%;
    height: 15%;
    width: 23%;
    border-radius: 10%;
    background: #3b82f6;  
    color: white;
    border: none;
    font-size: x-large;
    font-weight: bolder;
}
#game-over-text {
    font-size: xx-large;
    font-weight: bolder;
    position: absolute;
    left: 35%;
    top: 60%;
}
#exchange-currency {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 14%;
    top: 43%;
    height: 30%;
    width: 15%;
    border-radius: 5%;
    border: 2px solid black;
    background-color: rgb(7, 94, 94);
    color: aliceblue;
}
.country {
    width: 35%;
    padding: 5px;
    font-size: large;
}
.currency {
    padding-top: 5px;
    width: 59%;
}
#exchange {
    border-radius: 10%;
    border: none;
    padding: 5px;
    margin: 0 0 4px 45px;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    cursor: pointer;
}
#exchange:hover {
    background-color: rgb(221, 206, 189);
}
.points {
    position: absolute;
    left: 5%;
    top: 5%;
    height: 70%;
    width: 90%;
    font-size: large;
}
#guide-points {
    top: 10%;
}
#stars {
    position: absolute;
    top: 10%;
    left: 23%;
    height: 40%;
    width: 55%;
}
.star {
    font-size: 100px;
    padding: 10px;
}
.win {
    color: rgb(75, 173, 75);
}